html {
  font-family: sans-serif;
}
* {
	box-sizing: border-box;
}

body {
	font-family:  sans-serif;
}

header {
	background-color: #00008B;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}

nav {
	float: left;
	width: 30%;
	height: 500px; /* only for demonstration, should be removed */
	background: #0096FF;
	padding: 20px;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

article {
	float: left;
	padding: 20px;
	width: 70%;
	background-color: #0096FF;
	height: 500px;
}

table {
	border: 1px solid black;
	margin-left: 50px;
}
h3 {
	margin-left: 50px;
}
/* Style the footer */
button {
	width: 60%;
	margin: 5px;
	padding: 20px 60px;
	background-color: Silver;
	color: Black;
	font-size: 12px;
	font-weight: bold;
	border: 2px;
	border-radius: 12px;
}
button:hover,
button:active {
	background-color: #00008B;
	border-color: #00008B;
}